
@inject GoalService GoalService
@inject NavigationManager NavigationManager

@if (!string.IsNullOrEmpty(message))
{
    <Alert Class="@messageType">
        <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>@message
    </Alert>
}

<EditForm Model="model" OnValidSubmit="HandleCreate">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <p class="form-label fw-bold">* Başlık</p>
        <InputText @bind-Value="model.Title" class="form-control bg-dark text-white" />
        <ValidationMessage class="text-danger" For="@(() => model.Title)" />
    </div>

    <div class="mb-3">
        <p class="form-label fw-bold">Açıklama</p>
        <InputTextArea @bind-Value="model.Description" class="form-control bg-dark text-white" />
        <ValidationMessage class="text-danger" For="@(() => model.Description)" />
    </div>

    <div class="mb-3">
        <p class="form-label fw-bold">* Hedef Miktar</p>
        <InputNumber @bind-Value="model.TargetAmount" class="form-control bg-dark text-white" />
        <ValidationMessage class="text-danger" For="@(() => model.TargetAmount)" />
    </div>

    <div class="mb-3">
        <p class="form-label fw-bold">Son Tarih</p>
        <InputDate @bind-Value="model.DueDate" class="form-control bg-dark text-white" />
        <ValidationMessage class="text-danger" For="@(() => model.DueDate)" />
    </div>



    <button class="btn btn-primary" type="submit">Kaydet</button>
</EditForm>

@code {
    private GoalDto model { get; set; } = new();
    private string? message;
    private string messageType = string.Empty;

    private async Task HandleCreate()
    {
        try
        {
            await GoalService.AddAsync(model);
            messageType = "bg-success";
            message = "Hedef başarıyla eklendi.";

            await Task.Delay(800);
            NavigationManager.NavigateTo("/goals", true);

            model = new(); 
        }
        catch (Exception)
        {
            messageType = "bg-danger";
            message = "Hedef eklenirken hata oluştu.";
        }
    }
}
